{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<div class="container mb-5">

  <h1 class="my-4">List of Destinations</h1>

  {% for destination in destinations %}

  <div class="card mb-3 shadow">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="{% url 'destination-detail' destination.id %}">
          <img src="{{destination.pretty_picture.url}}" class="img-fluid card-img">
        </a>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{destination.name}}</h5>
          <p class="card-text">{{destination.activities}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <div class="">
            <a class="btn btn-outline-info" href="{% url 'destination-detail' destination.id %}">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

</div>
{% endblock content %}

