{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-md-10 col-lg-8 mx-auto">
    <div class="card card-rounded bg-light shadow my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Update {{destination_obj.name}} </h5>
        <form action="{% url 'destination-update' destination_obj.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <button class="btn btn-block btn-success text-uppercase btn-rounded" type="submit">Update</button>
          <button class="btn btn-dark btn-block text-uppercase btn-rounded" type="submit">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}



